.container {
  padding: 30px;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 550px;
  border-radius: 10px;
  background: #6259dc87;
  box-shadow: 0 14px 28px rgb(119 37 178 / 65%), 0 10px 10px rgb(0 0 0 / 35%);
}

.block {
  margin-top: 25px;
}

.title {
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  color: #0f0b11;
}

.form {
  margin: 0 auto;
}

.selects {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
}

.description {
  text-align: center;
  font-style: normal;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #0f0b11;
}
.date {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  align-items: end;
}
.input {
  padding: 9px;
  background: #ffffff;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: hsl(0deg 0% 20% / 74%);
  transition: all 0.5s ease;
}
input:focus {
  outline: none;
}

.input:hover {
  transition: all 0.5s ease;
  border-color: rgba(0, 0, 0, 0.3);
}
.errorBorder {
  border: 2px solid #d70112;
}

.textarea {
  height: 150px;
  resize: none;
  padding: 15px;
  background: #ffffff;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all 0.5s ease;
}

.textarea:hover {
  transition: all 0.5s ease;
  border-color: rgba(0, 0, 0, 0.3);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.button {
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
  border: none;
  transition: all 0.5s ease;
  background: #ce39a2;
  border-radius: 5px;
  box-shadow: 0 5px 7px -2px #ac039a;
}

.button:hover {
  transition: all 0.5s ease;
  background: #852969;
}
.error {
  position: absolute;
  bottom: -20px;
  font-size: 15px;
  color: #d70112;
}

@media screen and (max-width: 650px) {
  .container {
    width: auto;
    padding: 25px;
  }
  .title {
    font-size: 45px;
    line-height: normal;
  }
  .selects {
    grid-template-columns: 1fr;
    justify-content: flex-start;
  }
  .label {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 375px) {
  .container {
    padding: 35px;
  }
  .title {
    font-size: 35px;
  }
}
